/*The following CSS properties:
background, color, font-family, font-size,
height, margin, padding, text-align*>

/*styling each container on web page*/

header {
    background-color: black;
    text-align: center;
  }

header h1{
  color: white;
  font-size: 30px;
  margin: 0;
}


main {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 25%;
}

.center > ul{
  display: inline-block;
}

.center > ol{
  display: inline-block;
}

footer {
  text-align: center;
  background-color: black;
}

footer p{
  color: white;
  padding: 100px;
}

/*styled links*/

a:link {
  color: #FF0000;
}
a:visited {
  color: #00FF00;
}
a:hover {
  color: #FF00FF;
}
a:active {
  color: #0000FF;
}

/*groups and items*/
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* Groups & Items  (Desktop) */
@media all and (min-width: 800px) {
  section, h1 {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}
